@use "variables" as *;

.calculator__button {
  background-color: $secondary-color;
  color: white;
  padding: 20px;
  font-size: 26px;
  margin: 8px 8px;
  text-align: center;
  border: none;
  border-radius: 25%;
}
